<!DOCTYPE html>
<html>
<head>
    <title>Create a New Post</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
</head>
<body>
    <h1>Create a New Blog Post</h1>
    {% if form.errors %}
        <div>
            <p>Please correct the following errors:</p>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <a href="/">Back to Homepage</a>
</body>
</html>